import sqlite3
from pathlib import Path

from .tables import ({%
    for i, table in enumerate(database.tables)
        %}
    {{ table.dataclass }}sTable{%
            if i < len(database.tables) - 1
                %},{%
            endif
        %}{%
    endfor
%}
)


class Database:
    def __init__(self):
        self.con = None
        self.cur = None
        self.tables = []
        self.path = Path(
            '{{ database.name }}',
            'data',
            'data.db'
        ).resolve()
        {%
    for table in database.tables
        %}
        self.{{ table.name }} = {{ table.dataclass }}sTable(self)
        self.tables.append(self.{{ table.name }}){%
    endfor
%}


    def init_tables(self):
        with self:
            for table in self.tables:
                table.init_db()
    

    def __enter__(self):
        self.con = sqlite3.connect(self.path)
        self.cur = self.con.cursor()


    def __exit__(self, *args, **kwargs):
        self.con.commit()
        self.con.close()
        self.con = None
        self.cur = None

