import sqlite3

from .tables import ({%
    for i, table in enumerate(database.tables)
        %}
    {{ table.dataclass }}sTable{%
            if i < len(database.table)
                %},{%
            endif
        %}{%
    endfor
%}
)


class Database:
    def __init__(self):
        self.tables = []
        {%
    for table in database.tables
        %}
        self.{{ table.name }} = {{ table.dataclass }}sTable()
        self.tables.append(self.{{ table.name }}){%
    endfor
%}
        for table in self.tables:
            try:
                table.init_db()
            except sqlite3.OperationalError as e:
                if str(e)[-14:] == 'already exists':
                    continue
                else:
                    raise e

