{%
    for j, table in enumerate(database.tables)
        %}{%
            set non_default = table.columns
            | selectattr('hidden', 'false')
            | selectattr('default', 'none')
            | selectattr('name', '!=', 'rowid')
            | list
        %}{%
            set default_columns = table.columns
            | selectattr('hidden', 'false')
            | selectattr('not_null')
            | selectattr('default')
            | selectattr('name', '!=', 'rowid')
            | list
        %}{%
            set rowid = table.columns | selectattr('name', '==', 'rowid')
            | list
        %}{%
            set non_hidden = non_default + default_columns + rowid
        %}class {{ table.dataclass }}:
    def __init__(
        self,{%
            for i, column in enumerate(non_hidden)
                %}
        {{ column.name }}: {{ column.py_data_type }}{%
                    if not column.not_null
                        %} | None = None{%
                    endif
                %}{%
                    if i < len(non_hidden) - 1
                        %},{%
                    endif
                %}{%
            endfor
        %}
    ):{%
            for column in non_hidden
                %}
        self.{{ column.name }} = {{ column.name }}{%
            endfor
        %}


    @property
    def as_dict(self):
        return { {%
            for i, column in enumerate(non_hidden)
                %}
            '{{ column.name }}': self.{{ column.name }}{%
                    if i < len(non_hidden) - 1
                        %},{%
                    endif
                %}{%
            endfor
        %}
        }{%
            if j < len(database.tables) - 1
                %}


{%
            endif
        %}{%
    endfor
%}

